*{margin : 0; padding : 0;}


body {background-color: #f0f8ff;}

#SScalendar .calendar_div {
    
    width: 600px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    font-size: 25px;
    font-family: koverwatch;
    
}

#SScalendar .calendar_div p {
    
    text-align: center;
    font-size: 40px;
    font-family: koverwatch;
    
}

#SScalendar .button {
	text-decoration: none;
	color: black;
	margin: 10px;
}

#SScalendar .calendar_table {
    
    width: 500px;
    height: 350px;
    border: 2px solid #000000;
    text-align: center;
    background-color: #faebd7;
    color: black;
    margin: auto;
    
}

#SScalendar .sun {color: #ff0000}
#SScalendar .sat {color: #0000ff}
#SScalendar .prev, .next {color: #696969}